/georg-service/target/
/georg-backend/georg-service/target/

/georg-api

/georg-ui/dist
/georg-ui/certs/*
/georg-ui/node_modules

nb-configuration.xml
notes

/georg-ui/certs/*

.DS_Store
/georg-service/nbproject/
/georg-ui/nbproject/private/
/georg-api/target/
/georg-backend/georg-service/nbproject/
/georg-backend/georg-service/target/
